.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.section-1 {
  padding-left: 10px;
}

.date-of{
  color: rgb(212, 112, 224);
  margin-bottom: 15px;
  font-weight: bold;
}

.ads-36 {
  background-color: rgb(65, 190, 204);
  border-radius: 2px;
  color: white;
  padding: 5px 15px 5px 0px;
  width: 80px;
  font-size: 11px;
}

:root {
  padding: 70px 0 0 20px;
  --borderWidth: 2px;
  --height: 7px;
  --width: 3px;
  --borderColor: white;
}

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: var(--height);
  width: var(--width);
  border-bottom: var(--borderWidth) solid var(--borderColor);
  border-right: var(--borderWidth) solid var(--borderColor);
  margin: 0 15px;
}